
// Header images
.header-image-1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url("/images/memphis.jpg");
  background-position: top 38% center;
}

.header-image-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url("/images/memphis2.jpg");
  background-position: top 38% center;
}

.header-image-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url("/images/nashville.jpg");
  background-position: top 55% center;
}

.header-image-4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url("/images/nashville2.jpg");
  background-position: top 60% center;
}

@tailwind base;

@tailwind components;

@tailwind utilities;